# ---- Ignorer les fichiers Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv/
venv/
.Python
*.log


# ---- Ignorer les fichiers/tests générés temporairement ----
logs/
*.tmp
*.bak

# ---- Ignorer les fichiers spécifiques à Visual Studio Code ----
.vscode/

# ---- Ignorer les fichiers spécifiques à Visual Studio / C# ----
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ---- Ignorer les fichiers générés par dotnet build/test ----
TestResults/
*.nupkg
*.snupkg

# ---- Ignorer les solutions locales de build ----
*.swp
*.sln.cache

# ---- Rapports de test HTML ----
test-results.html
TestResult.xml